@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'stroke7pixeden';
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
  url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
  url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
  url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}


@responsive {
  .plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  .lemon-gate {
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  }

  .malibu-beach {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }

  .grown-early {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  }
}
