@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'stroke7pixeden';
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
  url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
  url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
  url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}
